@model Category
@using DocDesckApp.Models
@{
    ViewBag.Title = "Категории документов";
}

<h2>Категории документов</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Категории документа</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <p><input type="submit" value="Сохранить" /></p>
    </fieldset>
}
<table>
    @foreach (Category item in ViewBag.Categorys)
    {
        <tr>
            <td>@item.Name</td>
            <td>@Html.ActionLink("Удалить", "DeleteCategory", new { id = item.Id })</td>
        </tr>
    }
</table>

